In [1]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import urlencode

#this is just to simulate reading from a file
from io import StringIO

In [2]:
# this could also be a .csv file 
# perhaps of barcodes we've scanned ... for example
search_barcodes_file = StringIO("""\
barcode
A000046935391
A000049096878
1048318148010
1039776248012
""")

import_barcodes_df = pd.read_csv(search_barcodes_file)

import_barcodes_df.head(3)

         barcode
0  A000046935391
1  A000049096878
2  1048318148010

In [3]:
# get relevant item data from our db given a location code ... 
location_code = '1cjbg'

sql = """\
select
  location_name.name,
  item.location_code,
  item.barcode,
  item.item_record_num,
  item.bib_record_num,
  item.item_callnumber,
  item.last_checkout_date,
  item.checkout_total,
  item.renewal_total
from
  item
  join "location" on "location".code = item.location_code
  join "location_name" on "location_name".location_id = "location".id
where
  item.location_code = '{}'
""".format(location_code)

db_url = 'https://ilsweb.cincinnatilibrary.org/collection-analysis-testing/current_collection'

# read the results of the above query into a dataframe
location_df = pd.read_csv(
    db_url + '.csv?' + urlencode(query={'sql': sql})
)

print(location_df.head(3))
print('number of items: ', location_df.shape[0])

                                                name  ... renewal_total
0  Main - 1st Floor - Children's Library - Big Books  ...             7
1  Main - 1st Floor - Children's Library - Big Books  ...            29
2  Main - 1st Floor - Children's Library - Big Books  ...             9

[3 rows x 9 columns]
number of items:  56

In [4]:
# this creates a temporary, in-memory database that we can use
engine = create_engine('sqlite://')

# write the dataframes to new tables in the newly created db (`if_exists='replace'` will overwrite any existing table data)
import_barcodes_df.to_sql(
    name='import_barcodes', 
    con=engine, 
    if_exists='replace', 
    index=True # will show the order in which they were scanned / entered
) 
location_df.to_sql(
    name='location_items', 
    con=engine, 
    if_exists='replace'
)

In [5]:
# example of using our in memory db

sql = """\
select
*
from
import_barcodes
"""

# a couple of ways to query

# using the built in method for the sqlalchemy engine
print('sqlalchemy:', engine.execute(sql).fetchall())

print('\n')

# using pandas
print('pandas:', pd.read_sql(sql=sql, con=engine))

sqlalchemy: [(0, 'A000046935391'), (1, 'A000049096878'), (2, '1048318148010'), (3, '1039776248012')]


pandas:    index        barcode
0      0  A000046935391
1      1  A000049096878
2      2  1048318148010
3      3  1039776248012

In [6]:
# these options set the display to show all the columns and rows from resulting dataframes
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [7]:
# show item info the items we've scanned (assuming they shared the location code)

sql = """\
select
  import_barcodes.barcode as import_barcode,
  location_items.*
from
  import_barcodes
  join location_items on location_items.barcode = import_barcodes.barcode
order by
  import_barcodes.'index'
"""

pd.read_sql(sql=sql, con=engine)

,import_barcode,index,name,location_code,barcode,item_record_num,bib_record_num,item_callnumber,last_checkout_date,checkout_total,renewal_total
0,A000046935391,12,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000046935391,9164001,3109550,easy,2017-09-27,3,8
1,A000049096878,35,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000049096878,8630045,3115713,easy,2016-01-27,1,1
2,1048318148010,52,Main - 1st Floor - Children's Library - Big Books,1cjbg,1048318148010,4469459,2157377,easy,2016-03-07,16,25
3,1039776248012,53,Main - 1st Floor - Children's Library - Big Books,1cjbg,1039776248012,4661655,1965734,910.91634 ffd818,2021-07-01,6,0

In [8]:
# show the full list of items in the location, with the imported barcodes alongside (null values for missing / unscanned items)

sql = """
select
  import_barcodes.barcode as import_barcode,
  location_items.*
from
  location_items
  left outer join import_barcodes on import_barcodes.barcode = location_items.barcode
order by
  location_items.item_callnumber
"""

output_table = pd.read_sql(sql=sql, con=engine)
output_table

,import_barcode,index,name,location_code,barcode,item_record_num,bib_record_num,item_callnumber,last_checkout_date,checkout_total,renewal_total
0,None,2,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000049592744,8715070,3109552,398.2 ffg149 ru 2015,2019-01-28,6,9
1,None,21,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000048860209,8554619,3109556,423.1 ffw519 2015,2019-09-18,12,28
2,None,45,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000011850351,7278692,2881303,500 fff855 2004,2019-08-14,22,15
3,None,3,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000048860233,8554622,3109555,508.2 ffs659 se 2015,2016-10-14,6,11
4,None,22,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420782,7260980,2775748,513.211 ffs275 2010,2015-04-06,7,1
5,None,4,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000036306579,7278685,2881285,551.5 ffm685 2004,2018-10-22,11,27
6,None,5,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000055613467,11331795,3282614,582.16 ffm145 2017,None,0,0
7,None,0,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000036306561,7278686,2881296,595.7 fff855 2004,2019-07-10,18,7
8,1039776248012,53,Main - 1st Floor - Children's Library - Big Books,1cjbg,1039776248012,4661655,1965734,910.91634 ffd818,2021-07-01,6,0
9,None,1,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000024163206,1646247,2658726,easy,2020-08-29,21,29
10,None,6,Main - 1st Floor - Children's Library - Big Books,1cjbg,1701858-1002,5177112,2773736,easy,2016-12-18,25,39
11,None,7,Main - 1st Floor - Children's Library - Big Books,1cjbg,542757-12007,4442964,1712393,easy,2018-04-02,22,21
12,None,8,Main - 1st Floor - Children's Library - Big Books,1cjbg,442992-14002,3579488,1376827,easy,2019-05-02,28,32
13,None,9,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000055621270,9493730,2725881,easy,2018-06-29,7,13
14,None,10,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000048856249,8554633,3109548,easy,2016-08-04,3,12
15,None,11,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000031154867,5753134,2658726,easy,2021-08-24,25,8
16,A000046935391,12,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000046935391,9164001,3109550,easy,2017-09-27,3,8
17,None,13,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420634,7260654,2356251,easy,2019-04-17,16,24
18,None,14,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000049337256,8603702,2356181,easy,2017-05-27,6,9
19,None,15,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000053505889,9163994,2658733,easy,2017-11-19,6,5
20,None,16,Main - 1st Floor - Children's Library - Big Books,1cjbg,542757-12009,4442974,1712393,easy,2018-07-03,17,34
21,None,17,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420659,7260689,1559803,easy,2019-06-30,26,53
22,None,18,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000046978102,8697711,1415806,easy,2019-03-28,10,16
23,None,19,Main - 1st Floor - Children's Library - Big Books,1cjbg,1562460-15003,3357343,2356282,easy,2016-05-25,12,12
24,None,20,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000049794670,8733897,2456773,easy,2018-02-03,9,4
25,None,23,Main - 1st Floor - Children's Library - Big Books,1cjbg,1672753-1002,5172319,2633252,easy,2017-03-10,28,13
26,None,24,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420576,7260664,2356320,easy,2015-11-24,13,16
27,None,25,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000040002388,7913854,2986760,easy,2014-11-15,1,0
28,None,26,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000048935993,8587736,3109632,easy,2016-01-27,2,1
29,None,27,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420642,7260655,2356251,easy,2014-11-26,5,3
30,None,28,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000058200403,9617835,2773688,easy,2018-10-24,7,12
31,None,29,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000048861686,8554625,3109559,easy,2018-10-24,18,18
32,None,30,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038417531,7260035,2881292,easy,2015-11-24,13,8
33,None,31,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038417515,7260054,2881298,easy,2016-02-10,7,6
34,None,32,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000042791210,7968519,3001023,easy,2014-11-15,2,0
35,None,33,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420758,7260674,2658722,easy,2015-04-06,4,11
36,None,34,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038417481,7260057,2881304,easy,2015-04-08,2,7
37,A000049096878,35,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000049096878,8630045,3115713,easy,2016-01-27,1,1
38,None,36,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420592,7260666,2633300,easy,2015-04-22,12,10
39,None,37,Main - 1st Floor - Children's Library - Big Books,1cjbg,1701858-1003,5177115,2773736,easy,2016-08-03,31,15
40,None,38,Main - 1st Floor - Children's Library - Big Books,1cjbg,931274-1005,2805371,1962631,easy,2015-04-22,18,21
41,None,39,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000049300007,8587610,3109554,easy,2016-02-10,1,0
42,None,40,Main - 1st Floor - Children's Library - Big Books,1cjbg,1672762-1003,5173372,2633300,easy,2014-08-22,34,22
43,None,41,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000048856256,8554634,3109548,easy,2018-03-15,11,2
44,None,42,Main - 1st Floor - Children's Library - Big Books,1cjbg,542757-12006,2767951,1712393,easy,2018-08-28,17,25
45,None,43,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000049095813,8630069,3115712,easy,2016-06-02,5,3
46,None,44,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000048860761,8554483,3109549,easy,2018-06-18,13,8
47,None,46,Main - 1st Floor - Children's Library - Big Books,1cjbg,1672754-1002,5172410,2633257,easy,2017-12-26,12,4
48,None,47,Main - 1st Floor - Children's Library - Big Books,1cjbg,1779367-1003,6439670,2544221,easy,2020-02-21,21,24
49,None,48,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000039138128,7737929,1544364,easy,2020-02-10,26,18
50,None,49,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000042791202,7968518,3001023,easy,2020-08-28,12,12
51,None,50,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000011887601,3620223,1397320,easy,2020-09-14,40,28
52,None,51,Main - 1st Floor - Children's Library - Big Books,1cjbg,A000038420675,7260707,2658726,easy,2020-12-19,18,9
53,1048318148010,52,Main - 1st Floor - Children's Library - Big Books,1cjbg,1048318148010,4469459,2157377,easy,2016-03-07,16,25
54,None,54,Main - 1st Floor - Children's Library - Big Books,1cjbg,1672752-1002,5172246,2633245,easy,2021-07-01,4,0
55,None,55,Main - 1st Floor - Children's Library - Big Books,1cjbg,0980157148027,2767945,1712393,easy,2021-07-01,5,0

In [ ]:
# output the table data to an html doc
title = f"CHPL ShelflistCompare to List: Generated {pd.Timestamp.now(tz='America/New_York').strftime('%Y-%m-%dT%H:%M%z')}"

html_template = f"""\
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{title}</title>
  </head>
  <body>
    <div class="container-fluid">
      <img src='https://raw.githubusercontent.com/plch/brand-and-logos/master/CHPL_Brandmark_Primary.png' alt='CHPL brandmark' width=300px>
      <h1>{title}</h1>

      {output_table.to_html(classes='table table-striped table-sm')}
    </div>
  </body>
</html>
"""

with open("output.html", "w") as output_html:
  output_html.write(html_template)